@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=PT+Serif:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'PT Serif', serif; */
    --mainHeading: ;
    --subHeading: ;
    --infoText: ;
    /* Colors */
  --brand-color: hsl(46, 100%, 50%);
  /* --brand-color: #65B741; */
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
    
}

html {
    font-size: 62.5%;
}

body {
    /* background: url("./images/wood-2142241_1920.jpg");
    background-attachment: fixed;
    min-height: 400vh;
    max-width: 100%;
    background-size: cover; */
    width: 100%;
    /* scroll-behavior: smooth; */
}

main {
    background: url("./wood-2142241_1920.jpg");
    background-attachment: fixed;
    /* min-height: 2000vh; */
    max-width: 100%;
    width: 100%;
    background-position: center top;
    background-size: cover;
}
/* div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.052);
    z-index: 1;
} */

a {
    text-decoration: none;
    /* color: black; */
    color: white;
}

li {
    list-style: none;
}

.section-padding {
    padding: 0 7rem;
}

.hidden {
    display: none;
}

/* .dropdown {
    display: none;
} */

/* ==============================================
                 Navbar
==============================================     */

#navbar {
    /* border: 2px solid green; */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8 );
    z-index: 99;
}

img.logo {
    /* border: 2px solid orange; */
    height: 60px;
    padding: 0.5rem 0;
}

ul.navbar-menu {
    /* border: 2px solid purple; */
    display: flex;
    align-items: center;
}

li.navbar-menu-list:first-child {
    margin-left: 0;
}

li.navbar-menu-list {
    /* border: 1px solid salmon; */
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    margin-left: 1em;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

li.dropdown {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.dropdown-menu {
    /* border: 2px solid green; */
    position: absolute;
    top: -300px;
    left: -60px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em 0 1em 1em;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8 );
    z-index: 2;
    display: none;
}

li.dropdown:hover ul.dropdown-menu {
    top: 60px;
    display: block;
    transition: all 0.75s ease;
}

li.dropdown-menu-list {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    /* margin-left: 1em; */
    color: white;
    cursor: pointer;
    margin-bottom: 0.8em;
}

li.dropdown-menu-list a {
    padding: 0;
}

li.navbar-menu-list a {
    padding: 0.1em 0.2em;
}

li.navbar-menu-list::after {
    /* border: 1px solid yellow; */
    content: "";
    display: block;
    width: 0px;
    height: 1.3px;
    background-color: white;
    transition: all 0.5s ease-in;
}

li.navbar-menu-list:hover::after  {
    width: 100%;
}

.mobile-menu {
    position: relative;
    display: none;
}

ul.navbar-menu-mob {
    /* border: 2px solid lightgreen; */
    position: absolute;
    top: 48px;
    left: -110px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8 );
    z-index: 2;
    padding: 2em 0 1.5em 0em;
    width: 200px;
    border-radius: 0 0 5px 5px;
    /* display: none; */
    transform: translateX(400px);
    transition: transform 0.5s ease;
}

li.navbar-menu-mob-list {
    /* border: 1px solid salmon; */
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    /* margin-left: 1em; */
    color: white;
    cursor: pointer;
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 0.5em;
    padding-left: 1em;
}

li.dropdown-mob {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul.dropdown-menu-mob {
    position: absolute;
    top: 0px;
    left: 300px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em 0 1em 1em;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8 );
    z-index: 2;
    /* display: none; */
}

li.dropdown-menu-mob-list {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    /* margin-left: 1em; */
    color: white;
    cursor: pointer;
    margin-bottom: 0.8em;
}

li.dropdown-mob:hover ul.dropdown-menu-mob {    
    left: -200px;
    display: block;
    transition: all 0.75s ease;
}

/* ==============================================
                 Header Section
==============================================     */


.opacity-layer {
    /* border: 3px solid black; */
    position: absolute;
    left: 65%;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 0;
    background: linear-gradient(
        90deg,
        #724c6a61 0%,
        #724c6a 85%
    );
}

header {
    height: 90vh;
    /* background-color: #e9ebef; */
    /* background-color: #e6d4b1; */
    /* background-color: #8a5e3a; */
    /* background-color: #724c6a; */
    /* background-color: #fff; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

.slider-container {
    /* border: 2px solid salmon; */
    /* max-width: 1400px; */
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.circular-disc {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    /* border: 2px solid black; */
    z-index: 4;
    /* width: 40px; */
}

.circular-disc span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: white;
    outline: 2px solid rgb(30, 30, 30);
    margin-left: 10px;
    cursor: pointer;
    /* background-color: white; */
}

.circular-disc span:first-child {
    margin-left: 0;
}

.circular-disc span.active {
    background-color: rgb(30, 30, 30);;
}

.slider-wrapper {
    /* border: 3px solid green; */
    position: relative;
    display: flex;
    /* flex-direction: column; */
}

.slide-item {
    /* border: 3px solid purple; */
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: 800ms;
}

.first {
    background-color: #e6d4b1;
    z-index: 3;
}

.first .opacity-layer {
    background: linear-gradient(
        90deg,
        #e6d4b161 0%,
        #e6d4b1 85%
    );
}

.first .text-wrapper {
    z-index: 1;
}

.second {
    background-color: #8a5e3a;
}

.second .opacity-layer {
    background: linear-gradient(
        90deg,
        #734c3161 0%,
        #8a5e3a 85%
    );
}

.second .text-wrapper {
    z-index: 1;
}

.third {
    background-color: #724c6a;
    /* z-index: 0; */
}

.third .opacity-layer {
    background: linear-gradient(
        -90deg,
        #724c6a61 0%,
        #724c6a 85%
    );
    left: 30%;
}

.third .text-wrapper {
    left: 10%;
    z-index: 1;
}

.text-wrapper {
    /* border: 3px solid pink; */
    position: absolute;
    top: 50%;
    left: 55%;
    z-index: 3;
    transform: translate(0 , -50%);
    max-width: 550px;
	/* overflow: hidden; */
	background: #ffffff8a;
	backdrop-filter: blur(10px);
	transition: backdrop-filter 0.9s;
	padding: 3em 1em 3em 2.5em;
    border-radius: 6px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.text-wrapper h1 {
    font-family: 'PT Serif', serif;
    font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.2;
	color: #2B2D42;
	text-transform: capitalize;
	margin-bottom: 0.5em;
	/* opacity: 0; */
}

.text-wrapper h3 {
    font-family: 'Mukta', sans-serif;
    font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.2;
	color: #2B2D42;
	text-transform: capitalize;
    margin-bottom: 0.4em;
}

.text-wrapper p {
    font-family: 'Nunito', sans-serif;
    color: #656565;
	font-size: 1.7rem;
	line-height: 2.5rem;
	text-transform: capitalize;
}

.slide-item img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

img.even {
    position: absolute;
    top: 0;
    left: 30%;
}


/* ==============================================
                 Package Section
==============================================     */

#packages {
    /* border: 2px solid purple; */
    margin-top: 6rem;
}

.packages-container {
    /* border: 2px solid salmon; */
    display: flex;
    flex-direction: column;
}

.packages-container p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.85rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: center;
    /* background-color: #64b741; */
    /* background-color: #12372A; */
    /* background-color: #163020; */
    /* background-color: #65b741; */
    /* background-color: #005B41; */
    background-color: #004225;
    /* background-color: #10300d; */
    padding: 0.6em 0.2em;
    color: white;
    border-radius: 4px;
}

.packages-card-container {
    /* border: 2px solid brown; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 7em;
    
}

h2.packages-heading {
    font-family: 'PT Serif', serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1em;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
}

.packages-container h2 {
    margin-bottom: 0.5em;
}

.package-card {
    /* border: 5px solid green; */
    /* width: 100%; */
    position: relative;
    width: 30%;
    /* height: 400px; */
    /* min-height: 250px; */
    border-radius: 0 25px 0 25px;
    /* box-shadow: -10px 20px 10px rgb(0 0 0 / 80%); */
    
}

.clip-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #000000da; */
    background-color: rgb(0 0 0 / 80%);
    border-radius: 0 25px 0 25px;
    clip-path: circle(20% at 100% 0%);
    transition: clip-path 0.5s ease-in-out;
}

.clip-overlay:hover {
    clip-path: circle(70% at 70% 50%);
}

.clip-overlay-text {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.clip-overlay-text h3 {
    /* border: 2px solid green; */
    /* font-family: 'Mukta', sans-serif; */
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1em;
}

.clip-overlay-text a {
    /* border: 1px solid slateblue; */
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.7em 3em;
    background: #16a082ab;
    border-radius: 6px;
    letter-spacing: 0.8px;
    box-shadow: 0 0px 5px rgb(166 166 166 / 30%);
    outline: none;
    /* border: 0.5px solid #16a082; */
    transition: all 0.2s linear;
}

.clip-overlay-text a:hover {
    background: #16a082;
   letter-spacing: 1.2px;
}

.package-card video {
    width: 100%;
    height: 100%;
    min-height: 270px;
    object-fit: cover;
    border-radius: 0 25px 0 25px;
    box-shadow: -6px 8px 10px rgba(0, 0, 0, 0.813);
}


/* ==============================================
                 Treatment Section
==============================================     */

#treatment {
    /* border: 2px solid purple; */
    margin-top: 6rem;
}

.treatment-container {
    /* border: 6px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

.treatment-container h2 {
    margin-bottom: 0.5em;
}

.treatment-container p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.85rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: center;
    background-color: #64b741;
    /* background-color: #12372A; */
    /* background-color: #163020; */
    /* background-color: #65b741; */
    /* background-color: #005B41; */
    background-color: #004225;
    /* background-color: #10300d; */
    padding: 0.6em 0.2em;
    color: white;
    border-radius: 4px;
}

.treatment-cards-container {
    /* border: 5px solid saddlebrown; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
    margin-top: 7em;
}

.treatment-card {
    /* border: 3px solid blue; */
    position: relative;
    background-color: #030202e6;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px 0 25px 0;
    /* border: 10px solid green; */
    /* box-shadow: -15px -15px 15px rgba(130, 130, 130, 0.8),
                 15px 15px 15px rgba(0, 0, 0, 0.5); */
    box-shadow: -10px -10px 8px rgb(0, 0, 0) inset,
    -4px -4px 10px rgba(0, 0, 9, 0.701);    
}

.border-card {
    position: absolute;
    top: 5%;
    left: 5%;
    /* bottom: 10px;
    right: 10px; */
    width: 90%;
    height: 90%;
    border: 2.5px solid #65B741;
    border-radius: 25px 0 25px 0;
}

.treatment-card img {
    /* border: 1px solid green; */
    width: 90px;
    object-fit: cover;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h3.treatment-card-text {
    /* border: 1px solid gray; */
    font-family: 'Mukta', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}

.treatment-card:hover.treatment-card img {
    transform: translate(0, -5%);
    transition: all 0.5s linear;
}

.treatment-card:hover.treatment-card h3 {
    transform: translate(0, -10%);
    transition: all 0.5s linear;
}

.treatment-card:hover.treatment-card a {
    opacity: 1;
    display: block;
    transition: all 0.5s ease-in-out;
}

.treatment-card a {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    background: #16a082;
    padding: 0.4em 2em;
    border-radius: 6px;
    margin-top: 0.2em;    
    margin-bottom: 0.2em;    
    display: none;
    opacity: 0;
}

/* ==============================================
                 About Section
==============================================     */

#about {
    /* border: 2px solid green; */
    margin-top: 6rem;
    background-color: #898989ba;
    box-shadow: 0 4px 10px #000000b2;
}

.about-container {
    /* border: 2px solid black; */
    position: relative;
    display: flex;
    min-height: 60vh;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.about-container img {
    position: absolute;
    transform: translate(30%, 0);
    /* left: 20%; */
    width: 47%;
    height: 0;
    object-fit: cover;
    opacity: 0;
}

.about-container:hover img {
    opacity: 1;
    transform: translate(0, 0);
    position: static;
    transition: all 0.5s ease-in-out;
    height: auto;
}

.about-container:hover.about-container {
    justify-content: space-between;
    /* align-items: flex-start; */
}

.about-container:hover .about-text {
    width: 50%;
    justify-content: flex-start;
    margin-top: 1.5em;
    transition: width 0.5s ease-in-out;
}

.about-container:hover .about-text p {
    text-align: justify;
}

.about-text {
    /* border: 2px solid salmon; */
    /* position: absolute; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    transition: width 0.5s ease-in-out;
}

.about-text h2 {
    margin-bottom: 0.3em;
}

.about-text h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.85rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: center;
    /* background-color: #64b741; */
    background-color: #004225;
    /* background-color: #10300d; */
    padding: 0.6em 0.2em;
    color: white;
    border-radius: 4px;
}

.about-text p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.65rem;
    font-weight: 700;
    /* letter-spacing: 0.4px; */
    text-align: center;
    line-height: 2em;
    /* background-color: #64b741; */
    /* background-color: #004225; */
    /* background-color: #10300d; */
    /* padding: 0.6em 0.2em; */
    color: #000;
    /* border-radius: 4px; */
    margin-top: 1.5em;
    padding: 0 1em;
}

/* ==============================================
                 Doctors Section
==============================================     */

#doctors {
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-image: url("./istockphoto-865577704-170667a.webp");
    background-repeat: no-repeat;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% ); */
    overflow: hidden;
    margin-top: 6rem;
}
  
.swiper {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 3rem;
}
  
.swiper-slide {
    width: 300px;
    height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}
  
.swiper-slide-active {
    filter: blur(0px);
}
  
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #000;
}
  
.swiper-slide span {
    text-transform: uppercase;
    color: #fff;
    background: #1b7402;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: "Mukta", sans-serif;
}
  
.swiper-slide--one span {
    background: #087ac4;
}
  
.swiper-slide--two span {
    background: #62667f;
}
  
.swiper-slide--three span {
    background: #b45205;
}
   
.swiper-slide h2 {
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
}
  
.swiper-slide p {
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0 25px 35px 25px;
}
  
.swiper-slide svg {
    color: #fff;
    width: 22px;
    height: 22px;
    margin-right: 7px;
}
  
.swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("./suresh-yadav.webp")
        no-repeat 50% 50% / cover;
}
  
.swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("./kalpana-taledi.webp")
        no-repeat 65% 50% / cover;
}
  
.swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("./harsh-gupta.webp")
        no-repeat 50% 50% / cover;
}
    
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

/* ==============================================
                 Choose Section
==============================================     */

#choose-us {
    /* border: 2px solid green; */
    margin-top: 6rem;
    /* margin-bottom: 6rem; */
}

.choose-us-container {
    /* border:  3px solid purple; */
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.choose-us-cards-container {
    /* border:  2px solid yellow; */
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 15px;
    width: 48%;
}

.choose-us-card {
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    background-color: #000000f8;
    border-radius: 25px 0 25px 0;
    box-shadow: -10px -10px 8px rgb(0, 0, 0) inset,
    -4px -4px 10px rgba(0, 0, 9, 0.701); 
    /* backdrop-filter: blur(5px); */
}

.choose-us-card::before{
    position: absolute;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: 0%;
    left: 0%;
    /* transform: rotate(-45deg); */
    height: 100%;
    width: 0%;
    background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.4) 12%,
    rgba(255, 255, 255, 0.1) 77%
  );
    backdrop-filter: blur(10px);
    
    transition: .7s all;
  }

.choose-us-card:hover{
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.03);
    filter: brightness(1.355); 
    
}

.choose-us-card:hover::before {
    filter: brightness(.5);
    /* top: 0%; */
    /* left: 85%; */
    width: 100%;
    z-index: -1;
}

.choose-us-card:nth-child(2n + 1)::before{
    border-radius: 25px 0 25px 0;
}

.choose-us-card:nth-child(2n)::before{
    border-radius: 0 25px 0 25px;
}
  

.choose-us-card:nth-child(2n + 1) {
    border-radius: 25px 0 25px 0;
}

.choose-us-card:nth-child(2n) {
    border-radius: 0 25px 0 25px;
}

.choose-us-card h3 {
    font-family: 'Mukta', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}

.choose-us-card img {
    width: 90px;
    object-fit: cover;
}

.choose-us-text {
    /* border:  2px solid blue; */
    width: 48%;
    background-color: #898989ba;
    /* border: 2px solid #64b741; */
    box-shadow: 4px 4px 10px #000000d3;
    padding: 1em 0;
    border-radius: 8px;
}

.choose-us-text h2 {
    margin-bottom: 0.5em;
}

.choose-us-text h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.85rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: center;
    /* background-color: #64b741; */
    background-color: #004225;
    /* background-color: #10300d; */
    padding: 0.6em 0.2em;
    color: white;
    border-radius: 4px;
}

.choose-us-text p {
    font-family: 'Mukta', sans-serif;
    font-size: 1.65rem;
    font-weight: 600;
    /* letter-spacing: 0.4px; */
    text-align: justify;
    /* background-color: #64b741; */
    /* background-color: #004225; */
    /* background-color: #10300d; */
    /* padding: 0.6em 0.2em; */
    line-height: 1.8em;
    color: #000;
    /* border-radius: 4px; */
    margin-top: 1.5em;
    padding: 0 1em;
}

/* ==============================================
                 Therapy Section
==============================================     */  

.therapy-text h2 {
    margin-bottom: 0.5em;
}

.therapy-text p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.85rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: center;
    background-color: #64b741;
    /* background-color: #12372A; */
    /* background-color: #163020; */
    /* background-color: #65b741; */
    /* background-color: #005B41; */
    background-color: #004225;
    /* background-color: #10300d; */
    padding: 0.6em 0.2em;
    color: white;
    border-radius: 4px;
}

.card {
    display: grid;
    place-items: center;
    /* width: 80vw; */
    /* max-width: 21.875rem; */
    max-width: 100%;
    height: 45rem;
    /* height: 100%; */
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.25);
}
  
.card > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
  
.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    object-position: center;
}
  
.card__content {
    --flow-space: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 60%;
    padding: 12% 2rem 3rem;
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%
    );
}
  
.card__content--container {
    --flow-space: 2rem;
}
  
.card__title {
    font-size: 3.6rem;
    font-family: var(--font-title);
    color: var(--white);
    line-height: 1.1;
    position: relative;
    width: fit-content;
    width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}
  
.card__title::after {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: calc(100% + 2rem);
    bottom: calc((2rem - 0.8rem) * -1);
    left: -2rem;
    background-color: var(--brand-color);
}

.card__description {
    font-family: var(--font-text);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--white);
    color: white;
    margin: 1em 0;
}
  
.card__button {
    padding: 0.75em 1.6em;
    width: fit-content;
    width: -moz-fit-content; /* Prefijo necesario para Firefox  */
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    background-color: var(--brand-color);
    font-family: var(--font-title);
    font-size: 1.8rem;
    color: var(--black);
}
  
.card__button:focus {
    outline: 2px solid black;
    outline-offset: -5px;
}
  
@media (any-hover: hover) and (any-pointer: fine) {
    .card__content {
      transform: translateY(62%);
      transition: transform 500ms ease-out;
      transition-delay: 500ms;
    }
  
    .card__title::after {
      opacity: 0;
      transform: scaleX(0);
      transition: opacity 1000ms ease-in, transform 500ms ease-out;
      transition-delay: 500ms;
      transform-origin: right;
    }
  
    .card__background {
      transition: transform 500ms ease-in;
    }
  
    .card__content--container > :not(.card__title),
    .card__button {
      opacity: 0;
      transition: transform 500ms ease-out, opacity 500ms ease-out;
    }
  
    .card:hover,
    .card:focus-within {
      transform: scale(1.05);
      transition: transform 500ms ease-in;
    }
  
    .card:hover .card__content,
    .card:focus-within .card__content {
      transform: translateY(0);
      transition: transform 500ms ease-in;
    }
  
    .card:focus-within .card__content {
      transition-duration: 0ms;
    }
  
    .card:hover .card__background,
    .card:focus-within .card__background {
      transform: scale(1.3);
    }
  
    .card:hover .card__content--container > :not(.card__title),
    .card:hover .card__button,
    .card:focus-within .card__content--container > :not(.card__title),
    .card:focus-within .card__button {
      opacity: 1;
      transition: opacity 500ms ease-in;
      transition-delay: 1000ms;
    }
  
    .card:hover .card__title::after,
    .card:focus-within .card__title::after {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
      transition: opacity 500ms ease-in, transform 500ms ease-in;
      transition-delay: 500ms;
    }
}
  
.therapy-wrapper {
    /* border: 5px solid tomato; */
    margin:  6rem auto 0;
    max-width: 1100px;
    width: 100%;
    position: relative;
    padding: 0 22px;
}
  
.therapy-wrapper span.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    line-height: 50px;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    cursor: pointer;
}
  
.therapy-wrapper span.nav-btn:hover {
    background: #161616;
    color: #fff;
    transition: all o.3s linear;
}
  
.therapy-wrapper span:first-child {
    left: -0px;
    z-index: 1;
}
  
.therapy-wrapper span:last-child {
    right: -0px;
}
  
.therapy-wrapper .therapy-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
    /* padding: 20px; */
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 0;
}
  
.therapy-carousel.no-transition {
    scroll-behavior: auto;
}
  
.therapy-carousel::-webkit-scrollbar {
    display: none;
}
  
.therapy-carousel.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}
  
.therapy-carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
  
.therapy-carousel .card {
    scroll-snap-align: start;
    list-style: none;
    cursor: pointer;
}
  

/* ==============================================
                 Therapy Section
==============================================     */  

#footer {
    /* border: 3px solid black; */
    background-color: #004225;
    height: 60vh;
}

.footer-links-container {
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    /* border: 3px solid tomato; */
    flex: 1;
    text-align: center;
    margin-left: 1.5em;
}

.footer-links-heading {
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.service-links {
    margin-top: 2em;
    /* border: 2px solid pink; */
}

.service-links li {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.5em;
}

.footer-tagline {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 1em;
}

.social-links {
    /* border: 2px solid gray; */
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.social-links li {
    margin-left: 1em;
    cursor: pointer;
}

.social-links li:first-child {
    margin-left: 0;
}

.social-links li i {
    font-size: 2.5rem;
    color: #fff;
    padding: 0.2em;
}

.contact-info {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 1em;
    /* border: 2px solid black; */
    text-align: left;
    padding-left: 5.5em;
    display: flex;
    align-items: center;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
}

.contact-info i {
    font-size: 2.5rem;
    padding: 0.3em;
}


  
@media screen and (max-width: 400px) {
    .card__content {
      height: 85%;
      /* padding: 12% 1.25rem 1.875rem;  */
      padding: 12% 2.96rem; 
      justify-content: flex-end;
    }
  
    .card__title {
      font-size: 2.72rem;
    }
  
    .card__button {
      padding: 0.6em 1.4em;
      font-size: 1.52rem;
    }
}

@media screen and (max-width: 500px) {
    .section-padding {
        padding: 0 2rem;
    }

    img.logo {
        /* border: 2px solid orange; */
        height: 50px;
        /* padding: 0.5rem 0; */
    }

    ul.navbar-menu-mob {
        left: -86px;
    }
    #about {
        width: 100% !important;
    }

    .about-container {
        max-width: 100% !important;
        width: 100% !important;
    }

    .about-container img {
        width: 50%;
    }

    .about-container:hover .about-text {
        width: 90%;
        padding: 2em 0;
    }

    .about-text {
        max-width: 100%;
        width: 90%;
    }

    .about-text p {
        font-weight: 700;
    }

    div.choose-us-cards-container {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }

    div.choose-us-card {
        min-height: 180px;
    }
}

@media screen and (max-width: 600px) {
    div.therapy-wrapper .therapy-carousel {
        grid-auto-columns: 100%;
    }
  
    .therapy-carousel .card {
        max-height: 600px;
        height: 100%;
    }
  
    .card__content {
        justify-content: flex-start;
    }
} 

@media screen and (max-width: 650px) {
    h2.packages-heading {
        font-size: 2.5rem;
    }

    .packages-container p {
        font-size: 1.45rem;
    }

    .treatment-container p {
        font-size: 1.45rem;
    }

    .about-text h3 {
        font-size: 1.45rem;
    }

    .about-text p {
        font-size: 1.25rem;
    }

    .choose-us-text h3 {
        font-size: 1.45rem;
    }

    .choose-us-text p {
        font-size: 1.35rem;
    }
}

@media screen and (max-width: 730px) {
    .packages-card-container .package-card {
        width: 100%;
        margin-top: 2rem;
    }

    .package-card:first-child {
        margin-top: 0;
    }
}

@media screen and (max-width: 790px) {
    .about-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-container img {
        width: 100%;
    }

    .about-container:hover .about-text {
        width: 100%;
        padding: 2em 0;
    }
}

@media screen and (max-width: 900px) {
    .therapy-wrapper .therapy-carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
} 

@media screen and (max-width: 930px) {
    ul.navbar-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .choose-us-container {
        /* border:  3px solid purple; */
        flex-direction: column;
    }

    .choose-us-cards-container {
        width: 100%;
        order: 2;
    }

    .choose-us-text {
        width: 100%;
        order: 1;
        margin-bottom: 4em;
    }

    .choose-us-card {
        min-height: 250px;
    }
}

@media screen and (max-width: 1050px) {
    .package-card {
        width: 48%;
    }

    .package-card:last-child {
        width: 100%;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1155px) {
    .about-container:hover .about-text h2 {
        font-size: 3rem;
    }

    .about-container:hover .about-text h3 {
        font-size: 1.45rem;
    }

    .about-container:hover .about-text p {
        font-size: 1.35rem;
        font-weight: 700;
    }
}

